<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="../static/assets/img/ayucare%20logo.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png"/>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"/>
      <script src="https://cdn.tailwindcss.com"></script>
      <style>
        form{
            width: 100%;
            border:rounded;
        }
        form input[type="text"]{
            width: 100%;
            padding: 20px  10px;
            margin: 10px 0;
            outline: none;
            border: none;
            background:rgba(0,0,0,0.1);
        }
        form input[type="number"]{
            width: 100%;
            padding: 20px  10px;
            margin: 10px 0;
            outline: none;
            border: none;
            background:rgba(0,0,0,0.1);
        }
        

      </style>
   <title>SecureLine</title>
  </head>

  <body class=" antialiased ">

    <!--  Navigation Bar-->
     <nav class="flex items-center text-black ">
         <div class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 shadow-xl ">

        <ul class="flex-1 text-center text-black">
            <li class="list-none inline-block px-5 text-lg leading-lg  hover:bg-gray-200 hover:font-bold hover:rounded-full"><a href="#" class="no-underline px-2">Home</a></li>
            <li class="list-none inline-block px-5 text-lg leading-lg  hover:bg-gray-200 hover:font-bold hover:rounded-full"><a href ="/About.html" class="no-underline px-2">Info</a></li>

            </a>
              </li>
          </ul>
            
         </div>
         </nav>
     <!--  Navigation Bar-->

    <!--  Main section-->
    <main>
        <div class= "relative pt-20 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;" >
            <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("../static/1.jpg");'>
            <span class="w-full h-full absolute  "></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="pt-20 font-bold text-5xl text-black">
                  SECURELINE
                </h1>
                  <br><br>
                <p class="mt-4 text-lg text-black">
                  <b>
                     VEGETATION ENCROACHMENT DETECTION PLATFORM
                   </b>
                </p>
                  <br><br>
                    <br><br>
              </div>
            </div>
          </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden" style="height: 70px;">
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-20 bg-gradient-to-r from-green-400 to-blue-500 -mt-24  ">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap ">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                    <i class="fas fa-award"></i>
                  </div>
                    <a href="#">
                  <h6 class="text-xl font-semibold">Encroachment Detection</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Our advanced model predicts Risk zones highlighted around the power lines based on the proximity of vegetation by
                    calculating the dense and non sense areas near the powerline,
                    Recommendations for maintenance based on the assessment.
                  </p>
                        </a>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                    <i class="fas fa-retweet"></i>
                  </div>
                    <a href="#">
                  <h6 class="text-xl font-semibold ">Optimized Model</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                   Model is optimized to run on area of interest instead of entire image 
                   this will help in predicting the encroachment in swift manner
                  </p>
                    </a>
                </div>
              </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                    <i class="fas fa-fingerprint"></i>
                  </div>
                    <a href="#">
                  <h6 class="text-xl font-semibold">Easy monitoring</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Model automatically downloads image from google earth using the data in the database provide enter only once service
                    With latitude and longitude to pixel mapping encroachment is detected in robust way with distance calulation
                    and model optimization
                  </p>
                    </a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- SECTION 2 -->
          <div class="flex flex-wrap items-center mt-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
              <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
                <i class="fas fa-user-friends text-xl"></i>
              </div>
              <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Learn More About SecureLine
              </h3>
              <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                 Machine learning models are revolutionizing the field of Image Processing by providing
                    accurate  predictions. <br>

              </p>
              <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
                These models use advanced algorithms and constantly updated medical research to offer a
                    holistic approach to image processing that empowers users to identify potential risk areas
                    and easy timely monitoring. <br> By harnessing the capabilities of digital imagery, the primary objective 
                    is to automate the detection and analysis of vegetation growth in close proximity to electric 
                    infrastructure. This approach promises to empower utility companies and municipal authorities to 
                    efficiently identify areas of concern and prioritize maintenance efforts accordingly.  
              </p>

            </div>
            <div class="w-full md:w-4/12 px-4 mr-a ml-auto bg-white text-2xl text-gray-600 font-semibold leading-normal">
                <h2>Enter The Details Here</h2>
                <form id="locationForm" class="justify-center rounded-full px-4 py-2 shadow-sm" >
                    <label for="place" style="color: black;">Place:</label>
                    <input type="text" id="place" name="place" required>
                    
                    <label for="latitude" style="color: black;">Latitude:</label>
                    <input type="number" id="latitude" name="latitude" step="any" required>
                    
                    <label for="longitude" style="color: black;">Longitude:</label>
                    <input type="number" id="longitude" name="longitude" step="any" required>
                    
                    <button class="bg-white justify-center text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-20 py-5 rounded outline-none focus:outline-none  lg:mr-1 lg:mb-0 ml-3 mb-3 rounded-full transition duration-150
                    ease-in-out bg-gradient-to-r from-green-400 to-blue-500 hover:from-gray-500 hover:to-gray-200 ..."type="submit">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </section>
      <!--SECTION 02-->

    </main>

    <!--  Footer section-->
    <footer class="relative bg-white-300 pt-8 pb-6">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;"
      >
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
          <polygon
            class="text-gray-300 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl font-semibold">SECURELINE</h4>

          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Useful Links</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="#"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="#">
                      Services</a
                    >
                  </li>

                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">

                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="#"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="#"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="#"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1">
              Copyright © 2023 SecureLine
              <a
                href="#"
                class="text-gray-600 hover:text-gray-900"
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--  Footer section-->
    <script>
        document.getElementById("locationForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const form = event.target;
            const submitButton = form.querySelector('button[type="submit"]');
            submitButton.disabled = true; // Disable the submit button
            const loadingMessage = document.createElement('p');
            loadingMessage.textContent = 'Loading...'; // Display loading message
            loadingMessage.style.color = 'orange';
            form.appendChild(loadingMessage);
            
            const formData = new FormData(form);
            const jsonData = {};
            formData.forEach((value, key) => {jsonData[key] = value});
            
            fetch('/calculate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (response.ok) {
                    if (response.redirected) {
                        window.location.href = response.url; // Redirect if server sends a redirect response
                    } else {
                        // Handle HTML response
                        window.location.href = '/result.html'; // Assuming 'result.html' is the path to the result HTML file
                    }
                } else {
                    throw new Error('Network response was not ok.'); // Handle HTTP errors
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            })
            .finally(() => {
                form.removeChild(loadingMessage); // Remove loading message
                submitButton.disabled = false; // Enable submit button after request completes
            });
        }); 
    </script>
  </body>
 

</html>
